.tabs {
	// .tabs__navigation
	&__navigation {
		display: flex;
		justify-content: center;
		gap: toRem(10);
		margin-bottom: toRem(20);
	}
	// .tabs__title
	&__title {
		border: 1px solid $greyColor;
		color: $textLightColor;
		padding: toRem(10) toRem(15);
		border-radius: toRem(5);
		transition:
			color 0.3s,
			border-color 0.3s;
		@media (any-hover: hover) {
			&:hover {
				color: $mainColor;
			}
		}
		&._tab-active {
			border: 1px solid $accentColor;
			color: $accentColor;
		}
	}
	// .tabs__content
	&__content {
	}
	// .tabs__body
	&__body {
	}
}
