.zabudovnik {
	padding-top: toRem(170);
	&__results {
	}
	&__achievments {
	}
}
//========================================================================================================================================================
.results-zabudovnik {
	&__container {
		@media (min-width: $mobile) {
			display: flex;
			align-items: center;
		}
	}
	&__image {
		border-radius: 10px;
		overflow: hidden;
		@media (min-width: $mobile) {
			flex: 0 0 40%;
		}
		img {
			width: 100%;
		}
		@media (max-width: $mobileSmall) {
			display: none;
		}
	}
	&__content {
		box-shadow: 0 0 10px $textLightColor;
		border-radius: 10px;
		padding: toRem(50) toRem(30);
		position: relative;
		z-index: 2;
		background-color: $whiteColor;
		@media (min-width: $mobileSmall) {
			@media (min-width: $mobile) {
				margin-left: toRem(-20);
			}
			@media (max-width: $mobile) {
				margin: toRem(-70) toRem(20) 0;
			}
		}
		@media (max-width: $mobileSmall) {
			padding-left: toRem(15);
			padding-right: toRem(15);
		}
	}
	&__title {
		margin-bottom: toRem(20);
	}
	&__list {
		display: flex;
		flex-direction: column;
		gap: toRem(10);
	}
	&__list-item {
		line-height: 1.5;
	}
	&__item-label {
		display: flex;
		align-items: flex-start;
		gap: toRem(5);
		color: $accentColor;
		&::before {
			content: '';
			width: toRem(20);
			height: toRem(1);
			border-radius: 10px;
			background-color: $accentColor;
			margin-top: toRem(10);
			flex: 0 0 auto;
		}
	}
	&__item-text {
		padding-left: toRem(25);
		font-weight: 300;
	}
}
//========================================================================================================================================================
.achievments {
	@include adaptiveValue('padding-bottom', 70, 50);
	&__container {
		@media (min-width: $tablet) {
			display: flex;
			align-items: center;
			gap: toRem(50);
			justify-content: center;
		}
	}
	&__texts {
		display: flex;
		flex-direction: column;
		gap: toRem(20);
		@media (min-width: $tablet) {
			flex: 0 0 30%;
		}
		@media (max-width: $tablet) {
			margin-bottom: toRem(20);
		}
	}
	&__title {
	}
	&__text {
	}
	&__list {
		display: flex;
		flex-wrap: wrap;
		gap: toRem(30);
		justify-content: center;
		@media (max-width: $tablet) {
			gap: toRem(20);
		}
		@media (max-width: $mobileSmall) {
			flex-direction: column;
		}
	}
	&__item {
		display: flex;
		flex-direction: column;
		gap: toRem(10);
		text-align: center;
		padding: toRem(20);
		border-radius: 10px;
		background-color: $whiteColor;
		box-shadow: 0 0 10px $textLightColor;
	}
	&__count {
		@include adaptiveValue('font-size', 48, 24);
	}
	&__label {
		display: flex;
		flex-direction: column;
		gap: toRem(10);
		text-transform: uppercase;
		@include adaptiveValue('font-size', 20, 14);
		&::before {
			content: '';
			height: toRem(1);
			background-color: $accentColor;
			border-radius: 10px;
		}
	}
}
